streamlit
streamlit-option-menu
streamlit-lottie

fastapi
uvicorn

langgraph
langchain
langchain-community
langchain-chroma
langfuse

chromadb

sentence-transformers
transformers
torch

pandas
numpy

pydantic
python-dotenv

requests

geopy

tqdm

openpyxl

langchain-huggingface

groq

lxml
beautifulsoup4

pymupdf
html5lib
passlib[bcrypt] 
python-jose[cryptography]
python-multipart